body {
  width: 800px;
  margin : 8px auto;
  font-size: 13px;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: #828282;
}

header {
  display: flex;
  height: 23px;
  width: 100%;
  background-color: #FF6600;
  padding: 2px;
}

header ul {
  display: flex;
  align-items: center;
  padding: 0;
  margin: auto 2px;
}

header li {
  list-style: none;
  margin: 0 2px;
  font-weight: 500;
}

.header-active {
  color: white; 
}

.main-img {
  border: solid 1px white;
  margin: 2px;
  width: 18px;
  height: 18px;
}

.main-contents {
  display: flex;
  align-content: center;
}

.main-title {
  margin: auto 5px;
  margin-right: 7px;
  font-weight: 800;
}

.loginButton {
  margin: auto 5px;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
}

.loginDiv, .userDiv, .divisionDiv {
  margin: 0 5px 0px 0px
}

section {
  width: 100%;
  padding: 0 2px 2px 2px;
  background-color: #F6F6EF;
}

tbody {
  font-size: 13px;
}

.contents tr {
  vertical-align: baseline;
}

.tr_info {
  color: #828282;
}

.tr_info a, .submint_info a {
  text-decoration: underline;
}

.tr_space {
  height: 3px;
}

.td_number {
  text-align: end;
  color: #828282;
  width: 30px;
}

.span_triangle{
  display: inline-block;
  width: 0px;
  height: 0px;
  border-top: 8px solid none;
  border-bottom: 8px solid #828282;
  border-right: 4px solid transparent;
  border-left: 4px solid  transparent;
  padding: 0px;
  margin-top: 5px;
}

.span_url {
  font-size: 11px;
  color: #828282;
  margin-left: 5px;
}

.span_url:hover, .span_user:hover, .span_time:hover, .span_hide:hover, .span_comment:hover, .span_past:hover, .span_web:hover {
  text-decoration: underline;
}

.td_contents {
  font-size: 12px;
  color: #828282;
}

.td_text {
  color: #828282;
  font-weight: 500;
}

.td_line {
  background-color: #ff6600;
  width: 800px;
}

footer {
  width: 100%;
  padding: 0 2px 2px 2px;
  background-color: #F6F6EF;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer ul {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 20px 0;
}

footer li {
  font-size: 11px;
  list-style: none;
  margin: 0 2px;
}

.search-div {
  margin: 0 2px 20px 2px;
}

footer span {
  color: #828282;
}

.main-img, .main-title, .main-title-list, .span_triangle, .span_url, .span_user, .span_time, .span_hide, .span_comment, .span_past, .span_web, .td_text, .loginDiv {
  cursor: pointer;
}

@media only screen and (max-width: 800px){
  body {
    width: 100%;
  }

  header {
    height: 40px;
  }

  .main-img {
    margin: auto 2px;
  }

  .main-contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2px;
  }

  .main-title {
    margin: auto 2px;
  }

  .header-ul {
    flex-wrap: wrap;
  }

  .header-ul li, .login {
    font-size: 12px;
  }

  footer ul {
    flex-wrap: wrap;
    margin: 10px 0;
  }

  .search-div {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  input[type=text] {
    width: 80%;
  }
}

@media only screen and (max-width: 500px){
  header {
    height: 50px;
  }

  .loginButton {
    flex-direction: column;
  }

  .loginDiv {
    text-align: right;
  }
}

.loginPart, .submitcommentdiv {
  margin: 20px 5px;
  font-size: 15px;
}

.login_comment {
  margin: 5px;
  text-decoration: underline;
}

.login_title {
  font-weight: bold;
}

.login_form {
  margin: 20px 0;
}

.login_div {
  display: flex;
} 

.login_div input[type=text] {
  width: 125px;
}

.login_button {
  margin-top: 20px;
}

#login_user, #login_password, #create_user, #create_password {
  width: 150px;
}

.login_div_username, .login_div_password {
  width: 100px;
}

.submit_div {
  display: flex;
  margin: 5px;
}

.submit_or {
  margin: 5px;
  padding-left: 40px;
  font-weight: 800;
  color: #828282;
}

.submit_button {
  margin: 5px 5px 5px 40px;
}

.submit_div_name {
  width: 30px;
  padding: 2px;
  color: #828282;
}

.submit_div_text {
  height: 20px;
  width: 80%;
}

.submit_div_textarea {
  width: 80%;
  height: 80px;
}

.submint_info {
  width: 90%;
  margin: 5px;
  padding-left: 40px;
  color: #828282;
}

.submit_space {
  height: 10px;
}
